/dist
/node_modules
node_modules
dist
/dist
/backend/data/enhanced
/backend/data/images
/backend/data/test
__pycache__
back-end/data/enhanced
back-end/data/images
back-end/data/test
.env
back-end/docker-compose.yml
